<!DOCTYPE html>
<html>
<head>
    <title>Registration for new users</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta charset="UTF-8">
</head>

<body>
    <!--
    <form id='regisBox' class='start' action="/registration" method="post">
        <h1 class="start-element">New User Registration</h1>
        <input class="start-element" id="emailInput" type="text" placeholder="*Username" name="name"/>
        <input class="start-element" id="passwordInput" type="text" placeholder="*Password" name="password"/>
        <input class="start-element" id="nicknameInput" type="text" placeholder="" name="nickname"/>
        <input class="start-element" id="emailInput" type="text" placeholder="Username" name="name"/>


        <input class="start-element" id=regisButton type='submit' class='return' value='register' />
        <label id='loginStatusBar' class='Status'></label>
    </form>
    -->
    <div class="header">
            <a href="profileView"><img src="home.png" id="home-logo"></a>
            <a id="browseButton" href="browsingViewBuy"> Browse </a>
    </div>
    <div id='regisBox'>
        <form action="/changePassword" method="post">
            <h1>Forget Password</h1>
            <table id="regisTable" action="/changePassword" method="post">

                <tr>
                    <td class='regis_labels' >*Email:</td>
                    <td><input id='emailInput' type='text' name='email'></td>
                </tr>

                <tr>
                    <td class='regis_labels'>*new Password:</td>
                    <td><input id='newPasswordInput1' type='password' name='newpassword1'></td>
                </tr>

                <tr>
                    <td class='regis_labels'>*new Password again:</td>
                    <td><input id='newPasswordInput2' type='password' name='newpassword2'></td>
                </tr>

            </table>

            <button id='regisButton' type='submit' value="">ChangePassword</button>

            <t class="status">{{message}}</t>

        </form>
    </div>
    <!--<script type="text/javascript" src="registration.js"></script>-->
</body>
</html>
