<!DOCTYPE html>
<html>
    <head>
        <title>ForgetPassword</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="header">
            <a href="profileView"><img src="home.png" id="home-logo"></a>
            <a id="browseButton" href="browsingViewBuy"> Browse </a>
        </div>
        <form id='wrapper' class='start' action="forgetPassword" method="post">
            <h1 class="start-element">Forget Password</h1>
            <input class="start-element" id="fpemailInput" type="text" placeholder="Email" name="email">
            <input class="start-element" class='return' id=fpsubmitButton type='submit' value='send'/>
            <label id='loginStatusBar' class='Status'></label>
            <t class="status"> {{{message}}} </t>
        </form>
        <!---<script type="text/javascript" src="login.js"></script>-->
    </body>
</html>

